.page {
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8a2be2;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 12px; 
    justify-content: center;
    align-items: center;    min-height: 60vh;
}

.item {
    padding: 1 rem;
    color: #a52a2a;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 600px;
}

.item-1{
    background-color: #f08080;
}
.item-2{
    background-color: #add8e6;
}
.item-3{
    background-color: #fafad2;
}

@media (width > 768px){
    .layout {
        flex-direction: row;
    }
}